@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .mdx-h1 {
    @apply mt-8 mb-1 leading-5 font-bold;
  }
  .mdx-h2 {
    @apply mt-16 mb-2 leading-5 font-bold;
  }
  .mdx-h3 {
    @apply mt-12 leading-5 font-semibold;
  }
  .mdx-h4 {
    @apply mt-12 leading-5 font-semibold;
  }
  .mdx-a {
    @apply text-teal-500 font-semibold transition-colors duration-150 ease-out;
  }
  .mdx-a:hover {
    @apply text-teal-600;
  }
  .mdx-p {
    @apply mt-5 leading-7;
  }
  .mdx-hr {
    @apply my-16;
  }
  .mdx-blockquote {
    @apply bg-orange-100 border-orange-200 border-[1px] rounded-lg;
  }
  .mdx-code {
    @apply rounded-sm px-1 text-sm py-[2px] whitespace-nowrap leading-normal;
  }
}
pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
}
code.hljs {
  padding: 3px 5px;
} /*!
  Theme: GitHub
  Description: Light theme as seen on github.com
  Author: github.com
  Maintainer: @Hirse
  Updated: 2021-05-15

  Outdated base version: https://github.com/primer/github-syntax-light
  Current colors taken from GitHub's CSS
*/
.hljs {
  color: #24292e;
}
.hljs-doctag,
.hljs-keyword,
.hljs-meta .hljs-keyword,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-variable.language_ {
  color: #d73a49;
}
.hljs-title,
.hljs-title.class_,
.hljs-title.class_.inherited__,
.hljs-title.function_ {
  color: #6f42c1;
}
.hljs-attr,
.hljs-attribute,
.hljs-literal,
.hljs-meta,
.hljs-number,
.hljs-operator,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-id,
.hljs-variable {
  color: #005cc5;
}
.hljs-meta .hljs-string,
.hljs-regexp,
.hljs-string {
  color: #032f62;
}
.hljs-built_in,
.hljs-symbol {
  color: #e36209;
}
.hljs-code,
.hljs-comment,
.hljs-formula {
  color: #6a737d;
}
.hljs-name,
.hljs-quote,
.hljs-selector-pseudo,
.hljs-selector-tag {
  color: #22863a;
}
.hljs-subst {
  color: #24292e;
}
.hljs-section {
  color: #005cc5;
  font-weight: 700;
}
.hljs-bullet {
  color: #735c0f;
}
.hljs-emphasis {
  color: #24292e;
  font-style: italic;
}
.hljs-strong {
  color: #24292e;
  font-weight: 700;
}
.hljs-addition {
  color: #22863a;
  background-color: #f0fff4;
}
.hljs-deletion {
  color: #b31d28;
  background-color: #ffeef0;
}

.prose :where(pre):not(:where([class~='not-prose'] *)) {
  @apply bg-slate-50 px-2 py-1;
}
